@media all and (max-width: 2000px) {
    .menu ul{
      padding: 0;
      margin: 0;
      display: table;
      width: 100%;
    }
    .menu li{
      display: table-cell;
      background-color: rgb(51, 51, 51);
      text-align: center;
      position: relative;
    }
    .menu ul ul {
      display: block;
      position: absolute;
      height: 0;
      overflow: hidden;
      transition: height 0.5s 0.5s ease-out
    }
    .menu ul ul a{
       background-color: rgb(16, 104, 192);
    }
     
    .menu ul ul a:hover{
       background-color: #69e;
    }
    .menu ul ul li{
      display: block;
    }
    .menu a {
      color: #fff;
      text-decoration: none;
      height: 50px;
      display: inline-block;
      line-height: 50px;
      width: 100%;
      text-transform: uppercase;
    }
    .menu a:hover {
      background-color: rgb(61, 61, 61);
    }
    .menu li:hover ul {
      height: 200px;
    } }
    
    @media all and (max-width: 800px) {
      .menu ul{
      padding: 0;
      margin: 0;
      display: block;
      width: 50%;
    }
    .menu li{
      display: block;
      background-color: rgb(51, 51, 51);
      text-align: center;
      position: relative;
    }
    .menu ul ul {
      display: block;
      position: absolute;
      height: 0;
      overflow: hidden;
      transition: height 0.5s 0.5s ease-out
    }
    .menu ul ul a{
       background-color: rgb(16, 104, 192);
    }
     
    .menu ul ul a:hover{
       background-color: #69e;
    }
    .menu ul ul li{
      display: block;
    
    }
    .menu a {
      color: #fff;
      text-decoration: none;
      height: 50px;
      display: inline-block;
      line-height: 50px;
      width: 100%;
      text-transform: uppercase;
    }
    .menu a:hover {
      background-color: rgb(61, 61, 61);
    }
    .menu li:hover ul { display: block;
     left: 80%; top: 90%; z-index: 1;
    }
    
    }
    